@model string

@{
    ViewData["Title"] = "Python Test";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1 class="display-4">TITLE</h1>
    <p>This is a test.</p>
    <p>@Model</p>
</div>
